<% set_parent_page(@page.parent_id) %>
<% set_category_user(@parent_page.category_id) %>
<% get_topic_view(params[:param], opts: { include_suggested: false, include_related: false, post_number: 1 }, instance_var: "topic_view", set_page_title: true) %>

<html>
<head>
<% content_for :head do %>
  <meta name="description" content="Alone, together. Discuss Privacy & Security.">
  <meta property="og:title" content="<%= @page_title %>" />
  <meta property="og:description" content="Alone, together. Discuss Privacy & Security." />
  <meta property="og:image" content="uploads/default/original/1X/6998b22cc605b5e8748a0b729fe6569484d81674.png" />
<% end %>
<style>
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #242526;
  color:white;
}

.topnav {
  overflow: hidden;
  background-color: #242526;
  box-shadow: inset 0px -5px 11px 1px rgb(0, 0, 0);
  height:  61px;
  display: flex;
  align-items: center;
}

.logo {
  width: 160px;
  padding: 0px 0px 0px 288px;
}

.topnav a {
  float: left;
  color: #f2f2f2 !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
a:link, a:visited, a:active {
  color: #147efb;
}

</style>
</head>
<body>
<div class="topnav">
    <div class="contents">
        <div class="primary">
          <div class="header-title">
            <a href="https://forums.gonomad.me/">
                <img class="logo" src="/uploads/default/original/1X/6998b22cc605b5e8748a0b729fe6569484d81674.png" alt="GoNomad.me" id="site-logo">
            </a>
          </div>
          </div>
        </div>

  <a href="/home">Home</a>
  <a href="/">Forums</a>
<!--   <a href="/">Subscribe (soon)</a> -->
</div>
</body>
</html>

<% if @topic_view.present? %>
    <div class="title-container" style="background-image: url(<%= @topic_view.topic.image_url %>)">
    <div class="contents canvas">

      <h1 title="<%= @topic_view.title %>" class="title"><%= @topic_view.title %></h1>
      <%= render partial: 'topic_byline', locals: {
        topic: @topic_view.topic,
        include_link: true,
        user_profile_opts: {
          include_avatar: true,
          avatar_size: 60
        }
      } %>
    </div>
  </div>
<% end %>

<% if @topic_view.present? %>
  <article class="post">
    <div class="container">
      <section class="post-content canvas">
        <%= ::LandingPages::Post.html(@topic_view.posts.first).html_safe %>
      </section>

      <div class="comment-container">
        <% if @topic_view.posts.length > 1 %>
          <div class="comment-heading"><h4>Comments</h4></div>
          <div class="comments canvas">
            <% @topic_view.posts[1..-1].each do |post| %>
              <div class="comment">
                <div class="comment-avatar">
                  <img width="35" height="35" class="img-avatar" src="<%= post.user.small_avatar_url %>">
                </div>
                <div class="comment-content">
                  <h3 class="comment-user" title="<%= post.user.username %>"><%= post.user.username %></h3>
                  <p><%= post.cooked.html_safe %></p>
                </div>
              </div>
            <% end %>
         </div>
       <% end %>
        <div class="comment-footer">
          <a class="btn btn-primary" style="margin:5px;" href="<%= @topic_view.topic.url %>">Post a reply</a>
          <a class="btn btn-primary" style="margin:5px;" onclick="history.back()">Go Back</a>          
                  
      </div>
    </div>
  </article>
<% end %>



<% if @category_user.present? %>
  <%= render partial: 'modal', locals: {
    title: "Subscribe",
    class: "subscribe",
    content: render(partial: "subscription_form", locals: {
      category_id: @category_user.category.id,
      subscribed: @category_user.notification_level >= CategoryUser.notification_levels[:watching_first_post]
    })
  } %>
<% end %>